/* Main */
/* Main - music options */
.options{
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
  select{
    margin-left: 15px;
    padding: 10px;
      option{
        font-size: 14px;
      }
  }
}

/* Main - album section */
.list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  .list-album{
    width: calc((100% / 3) - 90px);
    margin: 10px;
    text-align: center;
    padding: 20px 40px;
    background: $back-album-com;
    img{
      height: 150px;
    }
    .title{
      margin: 20px 0;
      font-size: 18px;
    }
    .author,
    .year{
      color: $primary-col;
      margin: 25px 0;
    }
    .author{
      font-size: 14px;
    }
  }
}
