/* Main */
/* Main - music options */
.options{
  text-align: center;
  padding: 50px 0;
  select{
    margin-left: 15px;
  }
}

/* Main - album section */
.list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  .list-album{
    flex-basis: 206px;
    height: 315px;
    background: $back-album-com;
    margin: 10px 11px;
    padding: 10px;
    text-align: center;
    img{
      height: 120px;
    }
    .title{
      margin: 20px 0;
      font-size: 16px;
    }
    .author,
    .year{
      color: $primary-col;
      margin: 25px 0;
    }
    .author{
      font-size: 14px;
    }
  }
}
